#course{
    background-color: blue;
    width: 1340px;
    display: flex;
    position: relative;
    flex-direction: column;
    left: 6%;
    right: 6%;
}

h1{
    color: #9E1D1D;
    font-size: 25px;
    border-left: 5px solid;
    padding-left: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    cursor: pointer;
}

.c123{
    background-color: yellow;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 60px;
}

.c1{
    background-color: red;
    width: 30%;
    height: 400px;
    display: flex;

    align-items: flex-start;
}

.c1 img{
    width: 100%;
    height: 25%;
    cursor: pointer;
}

.c1 p{
    margin-top: 0;
}

.c2{
    background-color: red;
    width: 30%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 50px;
}

.c2 img{
    width: 100%;
    height: 53%;
}

.c2 p{
    margin-top: 0;
}

.c3{
    background-color: red;
    width: 30%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.c3 img{
    width: 100%;
    height: 53%;
}

.c3 p{
    margin-top: 0;
}

.c456{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.c4{
    background-color: red;
    width: 30%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.c4 img{
    width: 100%;
    height: 53%;
    cursor: pointer;
}

.c4 p{
    margin-top: 0;
}

.c5{
    background-color: red;
    width: 30%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 50px;
}

.c5 img{
    width: 100%;
    height: 53%;
    cursor: pointer;
}

.c5 p{
    margin-top: 0;
}

.c6{
    background-color: red;
    width: 30%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.c6 img{
    width: 100%;
    height: 53%;
    cursor: pointer;
}

.c6 p{
    margin-top: 0;
}

.cost{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.money::before{
    content: url(/img/icons/gift.png);
    vertical-align: middle;
    margin: 0 7px 0 3px;
}

.time::before{
    content: url(/img/icons/time.png);
    vertical-align: middle;
    margin: -50px 7px -10px 3px;
}