html{
    font-family: "Arial", sans-serif;
}

.position{
    display: flex;
    justify-content: center;
}

.box{
    justify-content: center;
    border: 10px solid rgb(226, 226, 226);
    width: 900px;
}

.title{
    margin: 40px 15px 0;
}

hr{
    margin-top: -20px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    border: none;
}

table th, td{
    padding: 4px 50px 8px 18px;
    text-align: left;
}